@font-face {
    font-family: 'Chomsky';
    src: url('../font/Chomsky.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: background 0.5s ease;
}

.preloader-text {
    position: absolute;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.5s ease;
    text-align: center;
}

.star-loading {
    position: absolute;
    font-family: 'Chomsky', serif;
    font-size: 50vh;
    display: none;
    color: white;
    transition: color 0.5s ease;
    width: 100%;
    text-align: center;
}

.star-loading span {
    display: inline-block;
    position: relative;
    transition: transform 0.5s ease;
}

#S {
    transform: translateY(-20px);
}

#T {
    transform: translateY(20px);
}

#A {
    transform: translateY(-20px);
}

#R {
    transform: translateY(20px);
}

.main-content {
    display: none;
    width: 100%;
    min-height: 100vh;
}